---
layout: default
title: biohack academy
category: bha
---
<!---{% for post in site.posts %}      
  {% if post.categories contains 'bha' %}
	<div class="post">
		<h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
		<p class="meta">Date: {{ post.date }}</p>
		<div class="entry">
			{{ post.content | strip_html | truncatewords: 100 }}
		</div>
	</div>
  {% endif %}
  {% endfor %}--->

<div class="row">
<div id="core-wrapper" class="col-12 col-lg-11 col-xl-9 pr-xl-4">
<div class="post pl-1 pr-1 pl-md-2 pr-md-2">
<div class="post-list">
{% for post in site.posts %}      
  {% if post.categories contains 'bha' %}
		<div class="post-preview">
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		</div>
		<div class="post-content">
			{{ post.content | strip_html | truncatewords: 100 }}
		</div>
		<div class="post-meta text-muted d-flex">
			<div class="mr-auto">
				{{ post.date }}
			</div>
		</div>
  {% endif %}
{% endfor %}
</div>
</div>
</div>
</div>
